<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets>
    <target xsi:type="ColoredConsole" name="consoleLog"
            layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${pad:padding=3:inner=${threadid}} ${callsite} ${message}${onexception:${newline}  EXCEPTION\: ${exception:format=ToString:separator=|}}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="consoleLog" />
  </rules>
</nlog>